@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    --main: #710a97;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #550372, #710a97);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h2 {
    color: var(--main);
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group i {
    margin-right: 5px;
    color: var(--main);
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-login {
    background: var(--main);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.btn-login:hover {
    background: #550372;
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
}

.forgot-password a {
    color: var(--main);
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.navbar {
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-nav {
    margin-left: auto; /* Pushes nav items to the right */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    filter: invert(1); /* Makes the icon white */
}
