:root{
    --primary: rgb(237, 245, 246);
}


html, body {
    background-color: var(--primary) !important;
    height: 100%;
    margin: 0;
}

.news-card{
    background-color: white;
    min-height: 25vh;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(187, 187, 187, 0.1);
    margin: 10px 0;
    padding: 20px 0;
    transition: all .3s ease-in-out;
}

.news-card:hover{
    box-shadow: 0 0 15px rgba(26, 26, 26, 0.1);
}

.news-card-content{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.news-card-content-top{
    display: flex;
    justify-content: start;
    padding: 0 15px;
    margin: 0;
}

.dot{
    margin: 0 10px;
    margin-top:12px;
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background-color: black;
}

.news-card-content-between{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}


.news-card-content-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.nc-heading{
    font-size: 1.4rem;
    font-weight: 700;
}

.headings{
    font-weight: 700;
}

@media (max-width: 768px){
    .news-card-content-between,
    .news-card-content-bottom,
    .news-card-content-top{
        padding: 0 20px;
    }   
}